<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cars"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="marquerToutCommeLu()" *ngIf="nombreNonLues > 0">
        <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedFilter" (ionChange)="filterChanged($event)">
      <ion-segment-button value="all">
        <ion-label>Toutes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="non_lues">
        <ion-label>Non lues ({{ nombreNonLues }})</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="filteredNotifications.length > 0">
    <ion-item-sliding *ngFor="let notification of filteredNotifications">
      <ion-item 
        [class.unread]="!notification.lue"
        button 
        (click)="marquerCommeLue(notification)">
        
        <ion-avatar slot="start">
          <ion-icon 
            [name]="getTypeIcon(notification.type)" 
            [color]="getTypeColor(notification.type)"
            size="large">
          </ion-icon>
        </ion-avatar>

        <ion-label>
          <h2>{{ notification.titre }}</h2>
          <p>{{ notification.message }}</p>
          <p class="date">{{ formatDate(notification.date_envoi) }}</p>
        </ion-label>

        <ion-badge 
          slot="end" 
          *ngIf="!notification.lue"
          color="primary">
          Nouveau
        </ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="supprimerNotification(notification, $event)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="empty-state" *ngIf="filteredNotifications.length === 0">
    <ion-icon name="notifications-outline" size="large"></ion-icon>
    <h2>Aucune notification</h2>
    <p *ngIf="selectedFilter === 'all'">Vous n'avez pas encore de notifications</p>
    <p *ngIf="selectedFilter === 'non_lues'">Toutes vos notifications ont été lues</p>
  </div>
</ion-content>